/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Media queries
===========================
*/

/* ----------------------------------------------------------------------------------------------------------
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */


div,
article,
section,
header,
footer,
nav,
li					{ position:relative; /* For absolutely positioning elements within containers (add more to the list if need be) */ }
.group:after 		{ display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
body 				{ background:#fff; /* Don't forget to style your body to avoid user overrides */ }
::-moz-selection 	{ background:adjust-hue($blue,-5); color:#333; }
::selection 		{ background:adjust-hue($blue,-5); color:#333; }

/* ----------------------------------------------------------------------------------------------------------
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */


body,
input,
textarea 			{
	font-family:$body-font-family;
	color:$black;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 					{
	font-family:$header-font-family;
	font-weight:400; /* This helps to identify headings at the initial build stage, but you should write something more precise later on */ }

a{
	color:$blue;
	&:visited{
		color:desaturate($blue,40%);
	}
	&:hover{
		color:adjust-hue($blue,-10);
	}
}

ul {
	list-style-type: none;
}
ol  {
	ol {
		list-style-type: lower-alpha;
		ol{
			list-style-type: lower-roman;
		}
	}
}

dl dt {
	font-family: $header-font-family;
}

#content ul {
	padding-left: 0;
	li{
		margin-left:0;
		padding:0.5em 0;
		border-bottom:1px dotted lighten($grayLight,10%);
		li {
			border-top:1px dotted lighten($grayLight,10%);
			border-bottom:none;
		}
	}
}

img.alignright{
	float:right;
	margin-left:1em;
	margin-bottom: 0.5em;
}

img.alignleft{
	float:left;
	margin-right:0.5em;
	margin-bottom: 0.5em;
}