/* Layout ------------------------------------------------------------------*/

body {
	margin:0;
}

ul.socialbar{
	margin-left:3em;
	margin:0;
	height:40px;
	background:transparentize($grayLighter,0.5);
	li{
		@include inline-block;
		width:30px;
		height:30px;
		margin:5px 5px;
		overflow:hidden;
	}
}
#header{
	height:100%;
	img.logo{
		margin-left:2em;
		margin-top: 40px;
	}
}

#content{
	width:90%;
	max-width:560px;
	margin-left:5%;
	margin-top:2em;
	.page-template-ah-gallery-page-php &{
		padding:0;
	}
	@media screen and (min-width: 1188px) {
	    margin-left:3em;
	}

}