// Typography--------------------------------


h1{
	@include adjust-font-size-to(36px);
	text-transform: uppercase;
	letter-spacing: 0.10em;
	color:$gray;
	border-bottom:1px solid $black;
}
h2{
	@include adjust-font-size-to(28px);
	margin:0.428571429em 0;
}

h3{
	@include adjust-font-size-to(21px);
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin:0.571428571em 0;
	+ p{
		margin-top:-12px;
	}
}

h4{
	@include adjust-font-size-to(18px);
	text-transform: uppercase;
	margin:0;
	+ p{
		margin-top:-12px;
	}
}
h5{
	@include adjust-font-size-to(18px);
	text-transform: uppercase;
	margin:0;
}
p{
	@include trailer();
}


/**************

AH Menus

**************/

.menu-icon{
	transition:right .5s ease-out;
	z-index:500;
	width:49px;
	height:40px;
	position:fixed;
	right:214px;
	background:$grayLighter url(images/close.png) center no-repeat;
	&:hover{ cursor: pointer;}
	img{opacity:0;}
	&.closed{
		right:0;
		img{
		transition:opacity 1s linear;
		opacity:1;}
	}
}
ul.socialbar {
	a{text-decoration: none;}
}
#header{
	transition:right .5s ease-out;
	position:fixed;
	background: $grayLighter;
	width:214px;
	right:0;
	top:0;
	box-shadow: -4px 0px 2px 0px rgba(0,0,0,0.2);
	z-index:100;
	&.closed{
		right:-214px;
	}
	ul+ul{margin-top:3em}
	li{
		font-size:0.75em;
		text-transform:uppercase;
		letter-spacing: 1px;
		padding:0.5em 0;
		border-bottom:1px solid lighten($grayLight,15%);
		box-shadow:0 1px 0 0 $white;
		a{
			text-shadow:0 1px 0  $white;
			&:hover{
				transition:color 250ms linear;
				color:$blue;
			}
		}
	}

	a{
		color:$grayDark;
		text-decoration: none;
		position:relative;
		&:hover{
			color:$black;
		}
	}
}

#content{
	h2{color:$blue;}
}

/*	----------------------------------------------------------------
	MaxCycle (Fullscreen Slideshow for use with jQuery Cycle Plugin)
	----------------------------------------------------------------


*/
/*! Version: 2.0.73 (12-Oct-2012) */


.mc-hide-scrolls{
	overflow:hidden;
}

body .mc-cycle {
	height:100%;
	left:0;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	z-index:-1;
}

div.mc-image {
	/*NOTE: Mozilla flickers when fading and using 'all', so we have to be specific with what property we want to transition:
	 	If you are using fading transitions, use 'opacity: */
	transition: opacity .5s ease-in-out;

	/*If you are using horizontal slide transitions, use the following CSS:
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;*/

	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	height:100%;
	overflow:hidden;
	width:100%;
}

.mc-old-browser .mc-image {
	overflow:hidden;
}

#ah_prev, #ah_next {
	transition:opacity 300ms linear;
	opacity:0;
	width:100px;
	background-position: center;
	position:fixed;
	width:25%;
	height:100%;
	&:hover{
		cursor: pointer;
		opacity:0.4;
	}
}
#ah_prev {
	text-indent:-100%;
	background: url(images/prev.png) no-repeat left center;
	left:5px;
	margin-top:-42px;
}
#ah_next{
	text-indent:100%;
	background: url(images/next.png) no-repeat right center;
	right:5px;
	margin-top:-42px;
}

.in-slide-content {
    padding:0.5em;
    position: absolute;
    bottom: 0;
    font-size:1.5em;
    text-transform: capitalize;
    color:$white;
    //opacity:0;
    background-color: transparentize($black,0.5);
/*     animation-name:fadeIn;
    animation-duration:1s;
    animation-delay:1s;
    animation-fill-mode: forwards; */
}

@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

input, textarea, .uneditable-input {
    width: 90%;
}

.fluid-wrapper {
    position: relative;
    padding-bottom: 71.4285714%; /* 16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}