// Typography
$base-font-size        :16px;
$base-line-height      :24px;
@include establish-baseline;

$body-font-family: ubuntu, sans-serif;
$header-font-family: montserrat, sans-serif;
$mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
// Grid ----------------------------------------------------------------------




// Colours---------------------------------

// Grays
// -------------------------
$black: #333;
$blackest: #000;
$grayDarker: #222;
$grayDark: #333;
$gray: #555;
$grayLight: #999;
$grayLighter: #eee;
$white: #fff;


// Accent colors
// -------------------------
$blue: #049cdb;
$blueDark: #0064cd;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;


// Forms
// -------------------------
$input-background: $white;
$input-border: #ccc;
$input-disabled-background: $grayLighter;
$input-height: $base-line-height + 10px; // base line-height + 8px vertical padding + 2px top/bottom border
$horizontalComponentOffset: 180px !default;